<div class="top-img">
  <img src="imgs/nyc01.jpg" class="w-100">
</div>


<div class="container">
  <div id="welcome">
    <h2>Welcome to KPMH Investments, LLC</h2>
    <p id="blurb">Owning and managing rental homes can be time-consuming, costly, and hard work. Having some help can make all the difference in how things run.</p> 
    <p>We can provide you that help. We are a private real estate investment company that provides property management services around the tri-state area.</p>
    <p>
      We specialize with private homeowners of apartment, condo, and townhouse communities. Our highest priority is to provide efficient, timely, and client-friendly service to homeowners and residents.
    </p>
  </div>
  <div id="welcome-message"></div> 
</div>