<div class="top-img">
  <img src="imgs/nyc01.jpg" class="w-100">
</div>


<div class="container">
  <div id="welcome" class="text-center">
    <h2>Welcome to KPMH Investments, LLC</h2>
    <p id="blurb">Owning and managing rental homes can be time-consuming, costly, and hard work. Having some help can make all the difference in how things run.</p> 
    <h3 class="m-5">We can provide you that help</h3>
    <div class="w3-row-padding w3-center" style="margin-top:128px">
      <div class="w3-quarter">
        <i class="fa fa-handshake w3-margin-bottom w3-jumbo w3-center"></i>
        <p class="w3-large">Reliable</p>
        <p>You can rely on us to provide you the best service</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Responsible</p>
        <p>We make sure everything is always up to code and safe.</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-paper-plane w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Transparent</p>
        <p>We prioritize frequent communication and updates between all parties</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Supportive</p>
        <p>Feel free to contact us regarding anything</p>
      </div>
    </div>      
    <p class="p-5">
      We are a private real estate investment company that provides property management services around the tri-state area. We specialize with private homeowners of apartment, condo, and townhouse communities. Our highest priority is to provide efficient and timely service to homeowners and residents.
    </p>
  </div>

  <div id="welcome-message"></div> 
</div>