<div class="top-img">
  <img src="imgs/nyc01.jpg" class="w-100">
</div>

<div class="container">
  <form>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="emailLogin" class="col-form-label">E-mail</label>
      </div>
      <div class="col-auto">
        <input type="email" id="emailLogin" class="form-control">
      </div>
    </div>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="passwordLogin" class="col-form-label">Password</label>
      </div>
      <div class="col-auto">
        <input type="password" id="passwordLogin" class="form-control">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>