<div class="top-img">
  <img src="imgs/nyc01.jpg" class="w-100">
</div>

<div class="container">
  <h2 class="m-3">Employee Login</h2>

  <div class="login-div">
    <form action="/login" method="post">
      <div class="row m-2">
        <div class="col-1">
          <label for="usernameLogin" class="col-form-label">Username</label>
        </div>
        <div class="col-5">
          <input type="text" id="usernameLogin" name="username" class="form-control">
        </div>
      </div>
      <div class="row m-2">
        <div class="col-1">
          <label for="passwordLogin" class="col-form-label">Password</label>
        </div>
        <div class="col-5">
          <input type="password" id="passwordLogin" name="password" class="form-control">
        </div>
      </div>      
      <button type="submit" class="btn btn-primary mx-3">Submit</button>    
      <label id="login-result"></label>
    </form>  
  </div>
  <div class="message">
    {{#if messages.error}}
      <h3>{{messages.error}}</h3>
    {{/if}}
  </div>

</div>