<div class="top-img">
  <img src="imgs/nyc01.jpg" class="w-100">
</div>

<div class="container">
  <div>
    Employee Profile
  </div>

  <div class="message-box">
    <h2>This page is under development</h2>
    <h3></h3>
    <div>{{fname}} {{lname}}</div>
    <a href="/">Go back</a>
  </div>
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
  </form>
  
</div>