* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%
}

body {
  margin: 0;
  background-image: url("../images/photography.png");
  height: 100%;
}

.master-div {
  height: 95%;
  display: flex;
  flex-direction: column;
}

.gray-grad-bg {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.gray-hr {
  background: gray;
}

.blue-grad-bg {
  background: linear-gradient(to left, #268eb1, #eeeeed);
}

/*---------- NAVBAR ----------*/
nav {
  background-color: rgb(78, 78, 78);
  overflow: hidden;
  width: 100%;
}

.navigationBar {
  max-width: 1200px;
  margin: 0 auto;
}

.navLink {
  float: left;
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.navLink:hover {
  background-color: aliceblue;
  color: rgb(78, 78, 78);
  text-decoration: none;
}

/*------------HOME------------*/

.imgSource {
  position: absolute;
  bottom: 3px;
  right: 5px;
  color: lightcyan;
  text-shadow: 1px 1px 7px white;
  font-size: 11px;
}  

#welcome h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 5rem;
}

#welcome-img-div {
  position: relative;
  max-width: fit-content;
  margin: 3rem auto;
}

#welcome-cam {
  height: 300px;
}


.footer {
  border-top:rgb(154, 200, 243);
  border-top-style: outset; 
  padding: 1rem;
  margin-top: auto;
}

.footer-company-name{
  font-weight: 650;
}

.top-img{
  max-height: 250px;
  opacity: 80%;
  overflow: hidden;
}

/*------------------Contact------------------*/
.hidden {
  display: none;
}

.visible {
  display: inline-block;
}

#send-message-btn {
  width: 100px;
}
